%nav.top-bar-container
  .logo
    = image_tag 'propo-logo.png'
  .top-bar-links
    %ul
      %li= link_to 'HOW IT WORKS', '#'
      %li= link_to 'FEATURES', '#'
      %li= link_to 'STORIES', '#'
      %li= link_to 'MEDIA', '#'
      %li= link_to 'LOGIN', '#', class: 'button login-button'
      %li= link_to 'SIGN UP', '#', class: 'button purple-filled-button'
