.login-container
  %h2 Register for Keyfinder
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
    .form-field
      = f.error_notification

    .form-field
      = f.input :email, autofocus: true, placeholder: 'Email address'

    .form-field
      = f.input :password

    .form-field
      = f.input :password_confirmation

    .form-field
      = f.submit 'Register', style: 'float: right'


 
